.subscribe {
  .imagecollage {
    height: 280px;
  }

  img {
    width: 170px;
    height: 230px;
  }

  .subscribe1 {
    left: 30%;
    top: 2rem;
  }

  .subscribe2 {
    left: 45%;
    top: 3.5rem;
  }

  h5 {
    color: black;
  }
}

.newsletterimg {
  width: 100%;
  height: 200px;
}

.newsletter-bottom {
  button {
    width: 300px;
  }
}
