.subscribe {
  .imagecollage {
    height: 300px;
  }

  img {
    width: 170px;
    height: 230px;
  }

  .subscribe1 {
    left: 30%;
    top: 1rem;
  }

  .subscribe2 {
    left: 35%;
    top: 3rem;
  }

  h5 {
    top: 13rem;
    left: 2rem;
  }
}

.newsletterimg {

        width: 100%;
    height: 200px;
}

.newsletter-bottom {
    button {
        width: 300px;
    }
}